.news-card {
    border: none;
    background-color: inherit;
    height: 100%;
    width: 100%;
}

.news-card:hover {
    box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer
}

.news-card-big {
    font-size: 16px;
    text-align: left !important;
}

.news-card-small {
    font-size: 17px;
    overflow: hidden;
}

.news-img {
    width: 100%;
    height: 0px;
    padding-bottom: 55%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.news-card-img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.news-card-img-text.big-title {
    font-family: 'MillerTextBold';
    position: absolute;
    background: #f5f5f5;
    font-size: 25px;
    width: 80%;
    right: 0;
    text-align: left;
    padding: 10px;
    line-height: 32px;
    bottom: -28px;
    letter-spacing: -1px;
}

.news-card-body {
    font-family: 'HelveticaNeue';
    position: relative;
    /* bottom: 60px; */
    font-size: 15px;
    background: #f5f5f5;
    padding:10px 5px;
}

.news-card-body p{
    margin:0;
}

.news-card-body span,
.news-card-img-text.small-text span{
    display: inline-block;
    margin-top: 10px;
    font-family: 'MillerTextRoman';
    color: #9A9A9A;
}

.news-card-img-text.small-text {
    font-family: 'MillerTextBold';
    position: inherit;
    width: 90%;
    line-height: 21px;
    top: -25px;
    left: 11%;
    padding:8px;
    background: #f5f5f5;
}

.card.news-card.news-card-small .news-card-img-container.bg-light-grey{
    overflow: hidden;
}

.news-card-slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.news-card-slider-slide {
    width: 100%;
    height: 100%;
}

.news-card-slider-slide-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news-card-slider-slide-caption {
    font-family: "MillerTextBold";
    font-size: 36px;
    padding: 50px 30px 0 40px;
    line-height: 1.2em;
}

.news-card-slider-slide-caption span{
    font-size: 15px;
    font-family: 'MillerTextRoman';
}

.news-card-slider-slide-caption p{
    -webkit-line-clamp: 6; 
    margin: 0;
}

.news-card-img-text.small-text p {
    margin-bottom: 0;
}

.news-card-slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 110px;
    height: 25px;
    top: 17px;
    right: 19px;
    z-index: 5;
}

.total-slide {
    position: absolute;
    font-family: 'HelveticaNeueMedium';
    right: 57px;
    top: 15px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
}

.news-card-slider-control {
    width: 26px;
    color: #F5F5F5;
    height: 25px;
    border: solid 2px #F5F5F5;
    text-align: center;
    border-radius: 100%;
    font-size: 14px;
    margin-right: 5px;
    line-height: 20px;
    transition: 200ms;
}

.news-card-slider-control:hover {
    color: #FB3131;
    border-color: #FB3131;
    cursor: pointer;
    transition: 200ms;
}

ul.slideNumber {
    display: flex;
    list-style-type: none;
    position: absolute;
    font-family: 'HelveticaNeueBold';
    color: #999;
    padding:0;
    margin: 0;
    bottom: 13px;
    left: calc(10% + 90px);
}

ul.slideNumber li{
    display: inline;
    font-size: 20px;
    transition: .5s ease;
    padding: 0 4px;
}

ul.slideNumber li:hover{
    color: #fff;
}

.card-bottom-date {
    font-family: MillerTextRoman;
    color:#555555;
    padding-top: 0px;
    font-size:14px;
}

.yellowOverlay90 {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(242, 176,27) 0%,  rgba(242, 176,27,0.95)  20%, rgba(0,212,255,0) 70%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.yellowOverlay0 {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(242, 176,27) 0%,  rgba(242, 176,27,0.95)  20%, rgba(0,212,255,0) 70%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.blueOverlay90 {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: linear-gradient(
        90deg, rgb(83, 75, 255) 0%, rgba(86, 86, 255, 0.95) 20%, rgba(27, 172, 202,0) 70%);

}

.orangeOverlay90 {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: linear-gradient(
        90deg, rgb(254 104 69) 0%, rgb(254 104 69) 20%, rgb(224 138 31 / 0%) 90%);

}

.blueOverlay0 {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(50, 43, 185) 0%, rgba(68, 68, 213,0.95) 40%, rgba(0,212,255,0) 70%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.redOverlay90 {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(185, 43, 50) 0%, rgba(213, 68, 68,0.95) 20%, rgba(255,212,0,0) 70%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.redOverlay0 {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(226, 8, 19) 0%, rgba(213, 68, 68,0.95) 40%, rgba(255,212,0,0) 70%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

/* Endeks Tablosu */
#section-gundem{
    padding-top: 10px;
    margin-top: 30px;
}

#section-gundem .list-group-flush .card {
    border-radius: 10px;
    overflow: hidden;
}
.list-group-flush{
    font-family: "MontserratSemiBold";
}

.list-group-item{
    border: none !important;
}

ul.list-group-flush > div{
    background: #3B3B3B;
    padding: 3px 22px;
    margin: 10px 0;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
}

ul.list-group-flush > div:first-child{
    margin-top: 0;
}

ul.list-group-flush > div a{
    float: right;
}

.list-group-flush .list-group-item .row {
    border-bottom: 1px solid #404040 !important;
    font-size: 14px;
    margin: 0 -7px;
}

.list-group-flush .list-group-item .row *:nth-child(n+2){
    text-align: end;
}

.list-group-flush .list-group-item .row * {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 3px;
}

.text-danger {
    color: #B80000 !important;
}

.news-card-img-text.small-text .news-card-bottom span{
    font-size: 12.5px;
    font-family: 'MillerTextRoman';
}

@media screen and (max-width: 992px) {
    .card-bottom-date {
        position: absolute;
        bottom:-10px;
        font-family: 'MillerTextRoman';
    }
    
    .news-card-slider-slide-img{
        height: 350px;
    }

      #secondCardSlide{
          display: table;
      }

      #secondCardSlide .slideNumber{
          display: inline-flex;
          position: initial;
      }

      ul.slideNumber li:hover{
        color: #FB3131;
    }

    .card.news-card.news-card-small .news-card-img-container.bg-light-grey{
        display: contents;
    }

    .news-card-img-text.small-text p{
        font-size: 22px;
        line-height: 35px;
    }

    .news-card-img-text.big-title{
        bottom: -25px;
    }

    .news-card-body{
        bottom: 0;
    }

    .news-card-img-text.small-text .news-card-bottom span{
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px){
    .news-card-img-text.small-text p{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.8px;
    }
}

@media screen and (max-width: 768px){
    section{
        padding-top: 15px;
    }
    .news-card-img-text.small-text p{
        font-size: 15px;
        line-height: 19px;
    }

    .news-card-img-text.small-text .news-card-bottom span{
        font-size: 11px;
    }
    .news-card-small{
        height: clamp(170px, 30vw + 40px, 220px);
    }

    #section-gundem{
        margin-top: 0;
    }
}