.corporate3 > div.row{
    height: calc(100% - 50px);
}

.corporate3 .col-sm-24{
    display: flex;
    align-items: center;
}

.corporate3 .col-sm-24 a{
    display: flex;
    align-items: center;
    height: 80%;
}

.corporate3 .col-sm-24:first-child {
    align-items: flex-start;
}

.corporate3 .col-sm-24:last-child {
    align-items: flex-end;
}
 
.corporate-news-numbers {
    float: left;
    width: 70px;
    font-size: clamp(85px, 4vw + 20px, 110px);
    line-height: normal;
    font-weight: bolder;
    opacity: 0.2;
    margin-top: -9px;
}

.corporate-news-img {
    float: left;
    width: 200px;
    background-color: #333333;
}

.corporate-news-img div{
    padding-bottom: 47%;
}

.corporate-news-text {
    font-family: 'MillerTextBold';
    width: calc(100% - 270px);
    padding: 0 0 0 10px;
    float: left;
    height: 100%;
    position: relative;
}

.corporate-news-text p{
    font-size: 20px;
    line-height: 24px;
}

.corporate-news-text-bottom {
    font-family: 'MillerTextRoman';
    position: absolute;
    padding-left: 10px;
    width: 100%;
    color: #325290;
    font-size: 15px;
    left: 0px;
    bottom: 0px;
    opacity: .5;
}

.company-image {
    width: 100%;
    height: 90px;
    margin-top:15px;
    margin-bottom: 15px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.company-bottom {
    font-family: 'MillerTextRoman';
    padding: 0 15px;
    width: 100%;
    color: #9A9A9A;
    font-size: 15px;
    height: 30px;
}

.company-bottom span:first-child{
    color: #020E72;
}

.corporate-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: transparent #657DAC transparent transparent;
    right: 0;
    bottom: 0;
    position: absolute;
}

@media only screen and (max-width: 1400px){
    .corporate-news-text{
        height: 115%;
    }
}

@media only screen and (min-width: 1800px){
    .corporate-news-text{
        height: 80%;
    }
}
