.container.detail {
    padding-top: 40px;
    max-width: calc(900px + 24px);
    color: #2f2f2f;
}

.container.detail a{
    color: #cd1925;
}

.detail .container {
    max-width: 100%;
}

.container.detail span, 
.container.detail p,
.container.detail h4{
    padding: 0;
}

.container.detail h2,
.container.detail h3,
.container.detail h4,
.container.detail h5,
.container.detail h6{
    font-family: 'MontserratBold';
    margin: 20px 0;
}

.detail-title {
    border-bottom: 1px solid #242424; 
}

.detail-title p {
    font-family: "HelveticaNeueBold";
    font-size: 16px;
    margin-bottom: 35px;
}

.detail-title h1 {
    font-size: 55px;
    font-family: 'MillerTextBold';
    line-height: 68px;
    letter-spacing: -2.75px;
    color: #242424;
}

.detail-title div {
    font-family: 'MillerText';
    margin-top: 25px !important;;
    padding-bottom: 27px;
    color: #242424;
}

.detail .summary {
    font-family: "HelveticaNeueBold";
    font-size: 20px;
    line-height: 25px
}

.detail-content {
    font-family: 'HelveticaNeue';
    font-size: 18px;
    line-height: 25px
}

.container.other-news {
    margin-top: 82px;
    max-width: 1200px;
    margin-bottom: 50px;
}

.other-news h4{
    font-family: 'HelveticaNeueBold';
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.other-news .news-card-img-text.small-text{
    background: #fff;
}

.other-news .news-card-img-text.small-text p{
    font-size: 20px !important;
    line-height: 26px;
    letter-spacing: -1px;
}

.other-news .news-card-img-text.small-text .news-card-bottom span {
    font-size: 16px !important;
}

.container.other-news .news-card{
    overflow: hidden;
}

.container.detail img{
    display: block;
    margin: 0 auto;
}

.container.detail img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){

    .detail-title h1 {
        font-size: 35px;
        line-height: 43px;
    }
    
    .other-news h4{
        font-size: 20px;
    }

    .detail .summary,
    .detail-content {
        font-size: 16px;
        line-height: 20px
    }

    .container.other-news .col-lg-6 {
        height: clamp(160px, 30vw + 40px, 250px);
    }

    .other-news .news-card-img-text.small-text .news-card-bottom span{
        font-size: 11px !important;
    }

    .other-news .news-card-small{
        height: clamp(170px, 30vw + 70px, 220px);
    }

    .other-news .news-card-img-text.small-text p{
        font-size: 15px !important;
        line-height: 18px;
        letter-spacing: -0.75px;
        -webkit-line-clamp: 4;
    }

    .container.other-news{
        margin-top: 28px !important;
    }

}
