@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

header {
    font-family: "MontserratBold", 'Montserrat', sans-serif;
}

.header__top {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header__top .search__input__contanier {
    display: flex;
    align-items: center;
    flex-basis: 200px;
    position: relative;
}

.header__top .search__input {
    font-family: 'Montserrat';
    outline: none;
    border-width: 0 0 1px;
    border-color: #a2a2a2;
    background-color: #e5e5e5;
    font-size: 12px;
    width: 100%;
}

.search__input::placeholder {
    font-family: 'Montserrat';
}

.header__top .search__input:focus {
    border-color: #212121;
}

.header__top .search__icon {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #a2a2a2;
    flex: none;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.header__top .social-icons {
    display: initial;
    color: #a2a2a2;
    margin-right: 50px;
}

.social-icons a {
    padding: 0 3px;
    font-size: 1.3em;
}

.header__middle {
    background-color: #f5f5f5;
}

.header__middle .nav__contanier--desktop {
    display: flex;
    position: relative;
}

.header__middle .nav__contanier--desktop .nav__list {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.nav__list ul{
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 0;
}

.nav__list ul li a{
    font-size: 16px;
}

.toggle_menu_icon_div {
    width: 5%;
    display: flex; 
    justify-contents: center;
}

.header__middle .menu__button {
    outline: none;
    border: none;
    background-color: transparent;
}

.header__middle .nav__contanier--mobile {
    display: none;
}

.header__middle .nav__link {
    font-size: 14px;
    font-weight: 100;
    color: rgb(33, 37, 41);
    line-height: 21px;
}

.header__middle .nav__menu__container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100%;
    z-index: 25;
    background-color: #242424;
    display: none;
}

.header__middle .nav__menu__container--left {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.header__middle .nav__menu__container--right {
    flex: none;
    background-color: #ffead5;
    padding: 15px;
    padding-right: 50px;
}

.header__middle .nav__menu__container--right .title__container {
    border-bottom: solid black 1px;
    display: flex;
    justify-content: flex-end;
}

.header__middle .nav__menu__container--right .title {
    font-family: MillerTextItalic;
    font-size: 50px;
    font-weight: bold;
}

.header__middle .nav__menu__container--right .list__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 30px;
}

.header__middle .nav__menu__container .nav__menu__item.--bottom-line {
    border-bottom: solid rgb(200, 200, 200) 1px;
}

.header__middle .nav__menu__container .nav__menu__item {
    display: flex;
    flex-direction: column;
}

.header__middle .nav__menu__container .nav__menu__item .title {
    padding: 5px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(230, 230, 230);
}

.header__middle .nav__menu__container .nav__menu__item .sub-title {
    padding: 5px;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(220, 220, 220);
}

.header__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.second_main_menu_div {
    background-color: #242424;
    padding: 2.5px 0;
}

.header__bottom .nav__text__container {
    flex: 1;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    white-space: nowrap;
    overflow-x: auto;
}


.header__bottom .nav__text {
    color: #f5f5f5;
    padding: 0.4em 0px;
    font-family: "Montserrat";
    font-size: 15px;
}

.header__bottom .nav__text__container a:nth-child(2){
    border-left: 2px solid #333;
    padding-left: 5px;
}

.drawer__navigation#drawer-nav {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 999999;
    display: grid;
    transform: translateX(-100%);
    transition: transform .5s ease;
}

.drawer__navigation#drawer-nav div{
    padding: 5px 5px;
}

.drawer_nav_open {
    transform: translateX(0) !important;
}

.drawer__navigation#drawer-nav .top {
    flex: 1;
    background-color: #242424;
    overflow-y: auto;
}

.drawer__navigation#drawer-nav .stil {
    background-color: #ffebd5;
}

.drawer__navigation#drawer-nav .top .list__container {
    padding-bottom: 15px;
}

.drawer__navigation#drawer-nav .top .list__container .title {
    border-bottom: solid rgb(230, 230, 230) 1px;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: bold;
    color: rgb(230, 230, 230);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.drawer__navigation#drawer-nav .top .list__container .sub-title {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: medium;
    color: rgb(230, 230, 230);
}

.drawer__navigation#drawer-nav .stil .list__container .title {
    border-bottom: solid rgb(45, 45, 45) 1px;
    font-family: "Playfair display";
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: rgb(45, 45, 45);
}

.drawer__navigation#drawer-nav .stil .list__container .sub-title {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: bold;
    color: rgb(45, 45, 45);
}

#mobile_search_input2_div {
    display: none;
    position: relative;
    width: 90%;
    margin: 11px 0;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}


#mobile_search_icon2 {
    width: 35px !important;
    height: 35px !important;
    padding: 5px;
    border-radius: 10px;
    transition: 200ms ease;
}

#mobile_search_icon2:hover {
    cursor: pointer;
}

#mobile_search_input2_div input {
    width: 100%;
    background-color: #242424;
    color: #fff;
    border: none;
}

#mobile_search_input2_div i,
#mobile_search_input2_div svg{
    position: absolute;
    right: 5px;
    color: #fff;
    width: 1.4em;
    height: 1.5em;
    z-index: 99;
}

#mobile_search_input2_div i:hover,
#mobile_search_input2_div svg:hover {
    cursor: pointer;
}

.showSearch2{
    display: block !important;
}

.search2_bg {
    background: #242424 !important;
}

@media screen and (max-width: 850px) {
    .header__top .search__input__contanier {
        flex: 1;
        flex-basis: 200px;
    }

    .header__top .social-icons {
        display: none;
    }

    .header__middle .nav__contanier--desktop {
        display: none;
    }

    .header__middle .nav__contanier--mobile {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #drawer-nav-button{
        padding:0;
    }

    #drawer-nav-button svg {
        width: 28px !important;
        height: 28px !important;
    }
}

@media screen and (max-width: 425px) {
    .header__bottom .nav__text__container {
        margin-left: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .header__middle .nav__contanier--desktop .nav__list {
        width: 100%;
    }

    .nav__list ul li a{
        font-size: 15px;
    }

    .header__top .social-icons {
        margin-right: 10px;
    }

    .header__top .social-icons {
        margin-right: 0;
    }
}
