.header__top {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__top .search__input__contanier {
    display: flex;
    align-items: center;
    flex-basis: 300px;
}

.header__top .search__input {
    outline: none;
    border-width: 0 0 1px;
    border-color: #a2a2a2;
    background-color: #e5e5e5;
    font-size: 12px;
    width: 100%;
}

.header__top .search__input:focus {
    border-color: #212121;
}

.header__top .search__icon {
    font-size: 14px;
    color: #a2a2a2;
    flex: none;
}

.header__top .social-icons {
    display: initial;
    color: #a2a2a2;
}

.header__middle {
    background-color: #f5f5f5;
}

.header__middle .nav__contanier--desktop {
    display: flex;
}

.header__middle .nav__contanier--desktop .nav__list {
    /* flex: 1; */
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
    position: relative;
}

.header__middle .menu__button {
    outline: none;
    border: none;
    background-color: transparent;
}

.header__middle .menu__button:focus {
    border: solid rgba(0, 0, 0, 0.12) 1px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.12);
}

.header__middle .nav__contanier--mobile {
    display: none;
}

.header__middle .nav__link {
    font-size: 14px;
    font-weight: 100;
    color: rgb(33, 37, 41);
    line-height: 21px;
    font-family: MontserratBold;
}

.header__middle .nav__menu__container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100%;
    z-index: 4;
    background-color: #242424;
    display: none;
}

.header__middle .nav__menu__container--left {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.header__middle .nav__menu__container--right {
    flex: none;
    background-color: #ffead5;
    padding: 15px;
    padding-right: 50px;
}

.header__middle .nav__menu__container--right .title__container {
    border-bottom: solid black 1px;
    display: flex;
    justify-content: flex-end;
}

.header__middle .nav__menu__container--right .title {
    font-family: MillerTextItalic;
    font-size: 50px;
    font-weight: bold;
}

.header__middle .nav__menu__container--right .list__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 30px;
}

.header__middle .nav__menu__container--right .list__item {
}

.header__middle .nav__menu__container .nav__menu__item.--bottom-line {
    border-bottom: solid rgb(200, 200, 200) 1px;
}

.header__middle .nav__menu__container .nav__menu__item {
    display: flex;
    flex-direction: column;
}

.header__middle .nav__menu__container .nav__menu__item .title {
    padding: 5px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(230, 230, 230);
}

.header__middle .nav__menu__container .nav__menu__item .sub-title {
    padding: 5px;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(220, 220, 220);
}

.header__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header__bottom .nav__text__container {
    margin-left: 25px;
    flex: 1;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    gap: 25px;
    white-space: nowrap;
    overflow-x: auto;
}

.header__bottom .nav__text {
    color: #f5f5f5;
    padding: 25px 0px;
    font-family: "HelveticaNeue";
    font-size: 0.9em;
}

.drawer__navigation#drawer-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /* transform: translateX(-200px); */
    z-index: 900;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.drawer__navigation#drawer-nav .top {
    flex: 1;
    background-color: #242424;
    padding: 15px 25px;
    overflow-y: auto;
}

.drawer__navigation#drawer-nav .stil {
    background-color: #ffebd5;
    padding: 15px 25px;
}

.drawer__navigation#drawer-nav .top .list__container {
    padding-bottom: 15px;
}

.drawer__navigation#drawer-nav .top .list__container .title {
    border-bottom: solid rgb(230, 230, 230) 1px;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: bold;
    color: rgb(230, 230, 230);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.drawer__navigation#drawer-nav .top .list__container .sub-title {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: medium;
    color: rgb(230, 230, 230);
}

.drawer__navigation#drawer-nav .stil .list__container .title {
    border-bottom: solid rgb(45, 45, 45) 1px;
    font-family: "Playfair display";
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: rgb(45, 45, 45);
}

.drawer__navigation#drawer-nav .stil .list__container .sub-title {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: bold;
    color: rgb(45, 45, 45);
}

@media screen and (max-width: 768px) {
    .header__top .search__input__contanier {
        flex: 1;
        flex-basis: 300px;
    }

    .header__top .social-icons {
        display: none;
    }

    .header__middle .nav__contanier--desktop {
        display: none;
    }

    .header__middle .nav__contanier--mobile {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .header__bottom .nav__text__container {
        margin-left: 0px;
    }
}
