

.internet {
    height: 0px;
    padding-bottom: 66%;
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#F5F5F5;
}


.internet-lg {
    padding-bottom: 75%;
}

.internet-md {
    border-bottom: solid 8px #fe6845;
}

.internet-sm {
    position: relative;
    width: 330px;
    height: 390px;
    padding:10px;
}

.internet-sm-img {
    width: 100%;
    height:210px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.internet-text-bottom {
    position: absolute;
    bottom:-10px;
    font-family: MillerTextRoman;
    color:#555555;
    font-size:14px;

}
.internet-text-bottom-sm {


    font-family: MillerTextRoman;
    color:#555555;
    padding-top: 10px;
    font-size:14px;


}
.internet-title {
    font-family: MillerTextBold;
    font-size: 22px;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.internet-sm-title {
    background-color: #ffffff;
    position: absolute;
    width: auto;
    max-width: 80%;
    top:60%;
    right: 5px;
    font-size: 1.4em;
    font-family: MillerTextBold;
    padding: 5px;
    white-space:normal;
    height: 120px;
    padding-bottom: 10px;

}

.internet-sm-top {
    font-size: 2em;
    color: #844dff;
    font-family: HelveticaNeueBold;
    font-weight: bolder;
    display: flex;
}

.internet-top-line {
    width: calc(100% - 0.75em);
    border-bottom:solid 1px #844dff;
    position: absolute;
    top:0.8em;
    z-index: 1;
}

.internet-slider {
    overflow:hidden; width: 100%; height: 420px; overflow-x: scroll; white-space: nowrap;
}


.internet-slider ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-color: #844dff;
}
.internet-slider ::-webkit-scrollbar-thumb {

    border-color: #844dff;
}
.internet-card-slider-slide-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.internet-card-slider-slide-caption {
    font-family: MillerTextBold;
    width: 60%;
    height: 100%;
    font-size: 1em;
    text-align: left;
    padding: 0;
    padding-top:20%;
    z-index: 20;
    position: relative;
}

.internet-card-caption {
    font-family: MillerTextBold;
    width: 60%;
    height: 100%;
    font-size: 1em;
    text-align: left;
    padding: 0;
    padding-top:20%;
    z-index: 20;
    position: relative;
}


.internet-card-slider-controls {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 30px;
    z-index: 90;
}
.internet-news-box-caption {
    font-family: HelveticaNeue;
    font-size: 23px;
    height: 55%;
    width: 100%;
    text-align: left;
    padding: 20px;
}

.internet-paper-card {
    height: 100px;
    border-radius: 10px;
}



