html{
    overflow-x: hidden;
}

@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url("../fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MillerTextRoman";
    src: url("../fonts/Parafesor-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MillerTextBold";
    src: url("../fonts/Parafesor-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "MillerTextItalic";
    src: url("../fonts/Parafesor-italic.ttf") format("truetype");
}

@font-face {
    font-family: "MillerText";
    src: url("../fonts/Miller-Display_30501.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-01.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../fonts/HelveticaNeue-Medium-11.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeueBold";
    src: url("../fonts/HelveticaNeue-Bold-02.ttf") format("truetype");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    /* font-family: HelveticaNeue; */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#most-red ::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section {
    padding-top: 55px;
    padding-bottom: 15px;
    overflow: hidden;
}

.section-title {
    font-family: "ArchivoBlack-Regular";
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: bolder;
}

.section-right {
    font-family: "ArchivoBlack-Regular";
    width: 100%;
    padding-right: var(--bs-gutter-x, 0rem);
    padding-left: var(--bs-gutter-x, 0rem);
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    text-align: right;
    border-bottom: solid 1px;
    height: 2em;
    font-weight: 400;
}

.section-right-md {
    /*TODO*/
}

.section-right-sm {
    margin-top: -30px;
    color: #f5f5f5;
    border-top: solid 1px;
    display: block;
    width: 100%;
    cursor: pointer;
}

.section-header {
    margin-bottom: 25px;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.redFilterOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(120, 0, 0, 0.8);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    color: #f5f5f5;
}

.highlighted {
    line-height: 50px;
    padding: 5px;
}

.news-card-img-text p,
.news-card-slider-slide-caption p,
.news-card-body p,
.company-text p,
.corporate-news-text p,
.article-text-body p,
.last-min-caption p,
.last-min-title p,
.last-min-sm-title p,
.most-red-text p,
.sport-card-slider-slide-caption p,
.sport-title p,
#mainSliderCaption p,
.life-card-slider-slide-caption p,
.life-second-image-caption p,
.life-news-box-caption p,
.automobile-title p,
.automobile-card-slider-slide-caption span,
.tech-news-box-caption p,
.tech-title p,
.article-text-title p,
.internet-card-slider-slide-caption p,
.internet-card-caption p,
.internet-news-box-caption p,
.internet-title p,
.life-title p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-card-body p,
.company-text p,
.tech-news-box-caption p,
.internet-card-caption p,
#mainSliderCaption p {
    -webkit-line-clamp: 4 !important;
}

.article-text-body p,
.life-news-box-caption p {
    -webkit-line-clamp: 5 !important;
}
/* .news-card-slider-slide-caption p, */
.life-card-slider-slide-caption p,
.internet-card-slider-slide-caption p,
.article-text-title p
{
    -webkit-line-clamp: 2 !important;
}

@media screen and (min-width: 1366px) {
    .col-lg-percent-20 {
        width: 20%;
    }
}

@media screen and (min-width: 1920px) {
    #mainSliderContainer {
        margin-left: calc(50% - 960px);
    }

    .col-lg-percent-20 {
        width: 20%;
    }
}

@media screen and (max-width: 760px) {
    #mainSliderCaption {
        font-size: 5vw;
        letter-spacing: -1px;
    }
}
