.egitim-row {
    margin: 35px 0 0;
    display: flex;
    justify-content: space-between;
}

.egitim-row > div {
    padding: 0;
    width: 350px;
    margin-bottom: 19px;
}

.education {
    height: 0px;
    padding-bottom: 199px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid #2171F2;
}

.education-title p{
    font-family: "MillerTextBold";
    color: #242424;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: -1.35px;
    height: 99px;
    margin: 26px 0 7px;
    overflow: hidden;
}

.education-text-bottom {
    font-family: "MillerTextRoman";
    color:#9A9A9A;
    font-size: 16px;
}

.education-text-bottom span{
    color: #2171F2;
}

@media screen and (min-width: 1366px) and (max-width: 1509px){
    .egitim-row {
        margin-top: 31px;
    }
    
    .egitim-row > div {
        width: 300px;
        margin-bottom: 19px;
    }
    
    .education {
        padding-bottom: 170px;
    }
    
    .education-title p{
        font-size: 22px;
        line-height: 27px;
        letter-spacing: -1.1px;
        height: 85px;
        margin: 22px 0 2px;
    }
    
    .education-text-bottom {
        font-size: 16px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1365px){
    .egitim-row {
        margin-top: 25px;
    }
    
    .egitim-row > div {
        width: 280px;
        margin-bottom: 21px;
    }
    
    .education {
        padding-bottom: 158px;
    }
    
    .education-title p{
        font-size: 22px;
        line-height: 27px;
        letter-spacing: -1.1px;
        height: 79px;
        margin: 21px 0 14px;
    }
    
    .education-text-bottom {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) and (max-width:1200px){
    .egitim-row {
        margin-top: 12px;
    }
    
    .egitim-row > div {
        width: 24%;
        margin-bottom: 11px;
    }
    
    .education {
        padding-bottom: 115px;
        border-width: 4px;
    }
    
    .education-title p{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.85px;
        height: 77px;
        margin: 12px 0 10px;
    }
    
    .education-text-bottom {
        font-size: 11px;
    }
}

@media screen and (max-width: 768px){
    .egitim-row {
        margin-top: 26px;
    }
    
    .egitim-row > div {
        width: 49%;
        margin-bottom: 18px;
    }
    
    .education {
        padding-bottom: 94px;
        border-width: 3px;
    }
    
    .education-title p{
        font-size: 17px;
        line-height: 21px;
        letter-spacing: -0.85px;
        height: 82px;
        margin: 12px 0 10px;
    }
    
    .education-text-bottom {
        font-size: 11px;
    }
}